  <footer role="contentinfo">
    <div class="row wow fadeIn animated">

      <div class="small-12 large-8 large-push-4 columns">

        <!-- form -->
        <script type="text/javascript">
        var submitted=false;
        </script>
        <iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {window.location='/thank-you/';}"></iframe>
        <form action="https://docs.google.com/forms/d/1zFBAgHP4430xSWtrQNMdSb_DVjM9RbhqELSvY6dWu38/formResponse" method="post" id="ss-form" target="hidden_iframe" onsubmit="submitted=true;" name="ss-form">
          <fieldset>
            <legend>Ready to get to work?</legend>
            <div role="list" class="ss-question-list" style="padding-left: 0; padding-top: 1em;">
              <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-item-required ss-text">
                  <div class="ss-form-entry">
                    <div class="ss-q-help ss-secondary-text" dir="ltr">
                      <label class="ss-q-item-label" for="entry_556592199">Email</label>
                    </div>
                    <input type="text" name="entry.556592199" value="" class="ss-q-short" id="entry_556592199" dir="auto" aria-label="Email Your email address" aria-required="true" required="" title="">
                    <div class="error-message"></div>
                  </div>
                </div>
              </div>
              <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-text">
                  <div class="ss-form-entry">
                    <div class="ss-q-help ss-secondary-text" dir="ltr">
                      <label class="ss-q-item-label" for="entry_1454659395">Name</label>
                    </div>
                    <input type="text" name="entry.1454659395" value="" class="ss-q-short" id="entry_1454659395" dir="auto" aria-label="Name What should we call you?" title="">
                    <div class="error-message"></div>
                  </div>
                </div>
              </div>
              <div class="ss-form-question errorbox-good" role="listitem">
                <div dir="ltr" class="ss-item ss-paragraph-text">
                  <div class="ss-form-entry">
                    <div class="ss-q-help ss-secondary-text" dir="ltr">
                      <label class="ss-q-item-label" for="entry_1697826653">Tell us about your project</label>
                    </div>
                    <textarea name="entry.1697826653" rows="8" cols="0" class="ss-q-long" id="entry_1697826653" dir="auto" aria-label="Tell us a little about your project How can we help you?"></textarea>
                    <div class="error-message"></div>
                  </div>
                </div>
              </div>
              <input type="hidden" name="draftResponse" value="[,,&quot;190636233870990154&quot;] "> <input type="hidden" name="pageHistory" value="0"> <input type="hidden" name="fbzx" value="190636233870990154">
              <div class="ss-item ss-navigate">
                <table id="navigation-table">
                  <tbody>
                    <tr>
                      <td class="ss-form-entry goog-inline-block" id="navigation-buttons" dir="ltr">
                        <input type="submit" name="submit" value="Get started" id="ss-submit">
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </fieldset>
        </form>
      </div>

      <div class="small-12 large-4 large-pull-8 columns list">

        <h6>Posts</h6>

        <ul class="posts">
          {% for post in site.posts %}
            {% if post.categories contains 'current' %}
              <li><a href="{{ BASE_PATH }}{{ post.url }}">{{ post.title }}</a> <span class="date">{{ post.date | date_to_string }}</span></li>
            {% endif %}
          {% endfor %}
        </ul>


        <ul>
          <li>
            <a href="https://github.com/adhocteam/" target="_blank">
            <svg class="icon icon-github"><use xlink:href="#icon-github"></use></svg> GitHub</a>
          </li>
          <li>
            <a href="https://twitter.com/adhocteam" target="_blank"><svg class="icon icon-twitter"><use xlink:href="#icon-twitter"></use></svg> Twitter</a>
          </li>

          <li>
            <a class="button mini" href="/join/">Join our team</a>
          </li>

        </ul>
      </div>



  	</div>
  </footer>
  <script src="/assets/js/vendor/classie.js"></script>
  <script src="/assets/js/vendor/demo1.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73508004-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
