  <footer role="contentinfo">
    <div class="row wow fadeIn animated">
      <div class="small-12 large-8 large-push-4 columns">
        <ul class="inline">
          <li><a href="https://adhocteam.us">Ad Hoc</a></li>
          <li><a href="http://adhocteam.us/case-studies/">Our work</a></li>
          <li><a href="https://adhocteam.us/about/">Our team</a></li>
        </ul>
      </div>
    </div>

  </footer>
  <script src="/assets/js/vendor/classie.js"></script>
  <script src="/assets/js/vendor/demo1.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-73508004-1', 'auto');
    ga('send', 'pageview');

  </script>

  <!-- Image source
  https://www.flickr.com/photos/library_of_congress/3842045977/in/photolist-4jCCj5-4ju5HR-4jCinb-4juV4t-4juV1X-4jyaNw-85DUyZ-7LShDb-6Rvuq2-89vrwu

  -->

</body>
</html>
