<button id="trigger-overlay" class="show-for-small-only" type="button"><svg class="icon icon-menu"><use xlink:href="#icon-menu"></use></svg> Menu</button>

<div class="overlay overlay-scale">
  <button type="button" class="overlay-close show-for-small-only">Close</button>
  <nav role="navigation">
    <ul class="nav">
      <li><a href="/case-studies/">Case studies</a></li>
      <li><a href="/about/">About us</a></li>
      <li><a href="/join/">We&rsquo;re hiring</a></li>
    </ul>
  </nav>
</div>
