<li class="bio">
  <div class="card">
    <div class="row">
      <div class="small-12 medium-5 medium-centered columns" data-ui="member-photo">
        <img src="{{ member.photo }}" alt="Photo of {{ member.title }}, {{ member.position }} at Ad Hoc">
      </div>  <!-- /member-photo .small-12 medium-5 columns -->
    </div>  <!-- /row -->

    <div class="row">
      <div class="small-12 columns" data-ui="member-bio" class="team-card">
        <h3 class="centered">{{ member.title }}</h3>
        <p class="title">{{ member.position }}</p>
        {{ member.content }}

        {% for link in member.links %}
          {% if forloop.first %}
          <ul class="links" data-ui="member-links">
          {% endif %}
          <li>
            <a href="{{ link.url }}" title="{{ link.title }}" target="_blank">{{ link.title }}</a>
          </li>
          {% if forloop.last %}
            {% if member.github_username %}
            <li>
              <a href="https://github.com/{{ member.github_username }}" target="_blank">GitHub</a>
            </li>
            {% endif %}
          </ul>
          <!-- /member-links .links -->
          {% endif %}
        {% else %}
          {% if member.github_username %}
          <ul>
            <li>
              <a href="https://github.com/{{ member.github_username }}" target="_blank">GitHub</a>
            </li>
          </ul>
          {% endif %}
        {% endfor %}
      </div>
      <!-- /member-bio .small-12.columns -->
    </div>
  <!-- /.row -->
  </div>
  <!-- /.card -->
</li>
<!-- /.bio -->
